-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: bsf_farm
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bait_preparation`
--

DROP TABLE IF EXISTS `bait_preparation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bait_preparation` (
  `preparation_id` int NOT NULL AUTO_INCREMENT,
  `barrel_id` varchar(50) NOT NULL,
  `bait_type` enum('frass_mix','blood','combined') NOT NULL,
  `ingredients_added` text NOT NULL,
  `fermentation_start_date` date NOT NULL,
  `fermentation_ready_date` date NOT NULL,
  `used_in_cage_ids` varchar(255) DEFAULT NULL,
  `preparation_notes` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`preparation_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `bait_preparation_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bait_preparation`
--

LOCK TABLES `bait_preparation` WRITE;
/*!40000 ALTER TABLE `bait_preparation` DISABLE KEYS */;
/*!40000 ALTER TABLE `bait_preparation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `breeding_records`
--

DROP TABLE IF EXISTS `breeding_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `breeding_records` (
  `record_id` int NOT NULL AUTO_INCREMENT,
  `unit_id` int NOT NULL,
  `record_date` date NOT NULL,
  `adult_count` int NOT NULL,
  `sex_ratio` varchar(20) DEFAULT NULL,
  `egg_production_count` int DEFAULT NULL,
  `feeding_details` text,
  `temperature_c` decimal(5,2) DEFAULT NULL,
  `humidity_percent` decimal(5,2) DEFAULT NULL,
  `light_hours` decimal(4,2) DEFAULT NULL,
  `observations` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`record_id`),
  KEY `unit_id` (`unit_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `breeding_records_ibfk_1` FOREIGN KEY (`unit_id`) REFERENCES `breeding_units` (`unit_id`),
  CONSTRAINT `breeding_records_ibfk_2` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `breeding_records`
--

LOCK TABLES `breeding_records` WRITE;
/*!40000 ALTER TABLE `breeding_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `breeding_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `breeding_units`
--

DROP TABLE IF EXISTS `breeding_units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `breeding_units` (
  `unit_id` int NOT NULL AUTO_INCREMENT,
  `unit_name` varchar(50) NOT NULL,
  `unit_type` enum('cage','net','room') NOT NULL,
  `dimensions` varchar(50) DEFAULT NULL,
  `capacity` int DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`unit_id`),
  UNIQUE KEY `unit_name` (`unit_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `breeding_units`
--

LOCK TABLES `breeding_units` WRITE;
/*!40000 ALTER TABLE `breeding_units` DISABLE KEYS */;
/*!40000 ALTER TABLE `breeding_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cage_monitoring`
--

DROP TABLE IF EXISTS `cage_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cage_monitoring` (
  `monitoring_id` int NOT NULL AUTO_INCREMENT,
  `monitoring_date` date NOT NULL,
  `cage_id` varchar(50) NOT NULL,
  `temperature_c` decimal(5,2) NOT NULL,
  `humidity_percent` decimal(5,2) NOT NULL,
  `lighting_hours` decimal(4,2) NOT NULL,
  `ventilation_ok` enum('yes','no') NOT NULL,
  `cage_cleaned` enum('yes','no') NOT NULL,
  `dead_flies_removed` enum('yes','no') NOT NULL,
  `cage_damage` enum('no','minor','major') NOT NULL,
  `damage_notes` text,
  `additional_notes` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`monitoring_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `cage_monitoring_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cage_monitoring`
--

LOCK TABLES `cage_monitoring` WRITE;
/*!40000 ALTER TABLE `cage_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `cage_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_feedback`
--

DROP TABLE IF EXISTS `customer_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_feedback` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `customer_id` int NOT NULL,
  `feedback` text NOT NULL,
  `rating` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `customer_feedback_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `customer_feedback_chk_1` CHECK ((`rating` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_feedback`
--

LOCK TABLES `customer_feedback` WRITE;
/*!40000 ALTER TABLE `customer_feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `contact` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deliveries`
--

DROP TABLE IF EXISTS `deliveries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deliveries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `customer_id` int NOT NULL,
  `product` varchar(100) DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `status` enum('Pending','Delivered','Cancelled') NOT NULL,
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `deliveries_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deliveries`
--

LOCK TABLES `deliveries` WRITE;
/*!40000 ALTER TABLE `deliveries` DISABLE KEYS */;
/*!40000 ALTER TABLE `deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drying_batches`
--

DROP TABLE IF EXISTS `drying_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drying_batches` (
  `batch_id` int NOT NULL,
  `drying_date` date DEFAULT NULL,
  `personnel` varchar(100) DEFAULT NULL,
  `drying_method` varchar(100) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'in_progress',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`batch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drying_batches`
--

LOCK TABLES `drying_batches` WRITE;
/*!40000 ALTER TABLE `drying_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `drying_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drying_input`
--

DROP TABLE IF EXISTS `drying_input`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drying_input` (
  `input_id` int NOT NULL AUTO_INCREMENT,
  `batch_id` int NOT NULL,
  `wet_harvested` decimal(10,2) NOT NULL,
  `wet_placed` decimal(10,2) NOT NULL,
  `dried_by_personnel` varchar(100) DEFAULT NULL,
  `sand_used` decimal(10,2) DEFAULT NULL,
  `sand_reused` decimal(10,2) DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`input_id`),
  KEY `batch_id` (`batch_id`),
  CONSTRAINT `drying_input_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `drying_batches` (`batch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drying_input`
--

LOCK TABLES `drying_input` WRITE;
/*!40000 ALTER TABLE `drying_input` DISABLE KEYS */;
/*!40000 ALTER TABLE `drying_input` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drying_output`
--

DROP TABLE IF EXISTS `drying_output`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drying_output` (
  `output_id` int NOT NULL AUTO_INCREMENT,
  `batch_id` int NOT NULL,
  `dried_produced` decimal(10,2) NOT NULL,
  `solar_drying_taken` decimal(10,2) DEFAULT NULL,
  `silo_bag_stored` decimal(10,2) DEFAULT NULL,
  `dried_sold` decimal(10,2) DEFAULT NULL,
  `actual_ratio` decimal(10,2) DEFAULT NULL,
  `yield_percentage` decimal(10,2) DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`output_id`),
  KEY `batch_id` (`batch_id`),
  CONSTRAINT `drying_output_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `drying_batches` (`batch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drying_output`
--

LOCK TABLES `drying_output` WRITE;
/*!40000 ALTER TABLE `drying_output` DISABLE KEYS */;
/*!40000 ALTER TABLE `drying_output` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drying_quality_control`
--

DROP TABLE IF EXISTS `drying_quality_control`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drying_quality_control` (
  `qc_id` int NOT NULL AUTO_INCREMENT,
  `batch_id` int NOT NULL,
  `qc_date` date NOT NULL,
  `sand_removal` varchar(20) NOT NULL,
  `contaminants_found` text,
  `color_quality` varchar(50) NOT NULL,
  `moisture_level` varchar(50) NOT NULL,
  `qc_personnel` varchar(100) NOT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`qc_id`),
  KEY `batch_id` (`batch_id`),
  CONSTRAINT `drying_quality_control_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `drying_batches` (`batch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drying_quality_control`
--

LOCK TABLES `drying_quality_control` WRITE;
/*!40000 ALTER TABLE `drying_quality_control` DISABLE KEYS */;
/*!40000 ALTER TABLE `drying_quality_control` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drying_review_approval`
--

DROP TABLE IF EXISTS `drying_review_approval`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drying_review_approval` (
  `review_id` int NOT NULL AUTO_INCREMENT,
  `batch_id` int NOT NULL,
  `reviewed_by` varchar(100) NOT NULL,
  `review_date` date NOT NULL,
  `approval_status` varchar(20) NOT NULL,
  `comments` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`review_id`),
  KEY `batch_id` (`batch_id`),
  CONSTRAINT `drying_review_approval_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `drying_batches` (`batch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drying_review_approval`
--

LOCK TABLES `drying_review_approval` WRITE;
/*!40000 ALTER TABLE `drying_review_approval` DISABLE KEYS */;
/*!40000 ALTER TABLE `drying_review_approval` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `egg_collection`
--

DROP TABLE IF EXISTS `egg_collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `egg_collection` (
  `collection_id` int NOT NULL AUTO_INCREMENT,
  `collection_date` date NOT NULL,
  `collection_time` enum('early_morning','late_evening','other') NOT NULL,
  `cage_id` varchar(50) NOT NULL,
  `eggs_collected_grams` decimal(10,2) NOT NULL,
  `bait_replaced` enum('yes','no') NOT NULL,
  `eggs_intact` enum('yes','some','many') NOT NULL,
  `collector_name` varchar(100) NOT NULL,
  `collection_method` enum('razor','specialized','manual') NOT NULL,
  `collection_notes` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`collection_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `egg_collection_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `egg_collection`
--

LOCK TABLES `egg_collection` WRITE;
/*!40000 ALTER TABLE `egg_collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `egg_collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `environmental_guidelines`
--

DROP TABLE IF EXISTS `environmental_guidelines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `environmental_guidelines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `section` varchar(50) NOT NULL,
  `parameter` varchar(50) NOT NULL,
  `min_value` decimal(5,2) DEFAULT NULL,
  `max_value` decimal(5,2) DEFAULT NULL,
  `unit` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_section_param` (`section`,`parameter`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `environmental_guidelines`
--

LOCK TABLES `environmental_guidelines` WRITE;
/*!40000 ALTER TABLE `environmental_guidelines` DISABLE KEYS */;
/*!40000 ALTER TABLE `environmental_guidelines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `environmental_monitoring_waste`
--

DROP TABLE IF EXISTS `environmental_monitoring_waste`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `environmental_monitoring_waste` (
  `monitoring_id` int NOT NULL AUTO_INCREMENT,
  `monitoring_date` date NOT NULL,
  `monitoring_time` time NOT NULL,
  `temperature` decimal(5,2) NOT NULL,
  `humidity` decimal(5,2) NOT NULL,
  `odor_level` enum('none','slight','moderate','strong','very_strong') NOT NULL,
  `pest_presence` enum('none','slight','moderate','severe') NOT NULL,
  `pest_details` text,
  `mitigation_actions` text,
  `remarks` text,
  PRIMARY KEY (`monitoring_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `environmental_monitoring_waste`
--

LOCK TABLES `environmental_monitoring_waste` WRITE;
/*!40000 ALTER TABLE `environmental_monitoring_waste` DISABLE KEYS */;
/*!40000 ALTER TABLE `environmental_monitoring_waste` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility_checks`
--

DROP TABLE IF EXISTS `facility_checks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facility_checks` (
  `check_id` int NOT NULL AUTO_INCREMENT,
  `check_date` date NOT NULL,
  `check_type` enum('routine','maintenance','inspection') NOT NULL,
  `area` varchar(100) NOT NULL,
  `status` enum('ok','needs_attention','critical') NOT NULL,
  `issues_found` text,
  `actions_taken` text,
  `personnel` varchar(100) NOT NULL,
  `next_check_date` date DEFAULT NULL,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`check_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `facility_checks_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility_checks`
--

LOCK TABLES `facility_checks` WRITE;
/*!40000 ALTER TABLE `facility_checks` DISABLE KEYS */;
/*!40000 ALTER TABLE `facility_checks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility_maintenance`
--

DROP TABLE IF EXISTS `facility_maintenance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facility_maintenance` (
  `maintenance_id` int NOT NULL AUTO_INCREMENT,
  `maintenance_date` date NOT NULL,
  `moat_check` enum('full','low','empty') NOT NULL,
  `ants_present` enum('no','few','many') NOT NULL,
  `rodents_present` enum('no','yes') NOT NULL,
  `bird_net_ok` enum('yes','damaged') NOT NULL,
  `trench_refilled` enum('yes','no') NOT NULL,
  `maintenance_notes` text NOT NULL,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`maintenance_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `facility_maintenance_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility_maintenance`
--

LOCK TABLES `facility_maintenance` WRITE;
/*!40000 ALTER TABLE `facility_maintenance` DISABLE KEYS */;
/*!40000 ALTER TABLE `facility_maintenance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_environmental_monitoring`
--

DROP TABLE IF EXISTS `feeding_environmental_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_environmental_monitoring` (
  `monitoring_id` int NOT NULL AUTO_INCREMENT,
  `monitoring_date` date NOT NULL,
  `monitoring_time` time NOT NULL,
  `tray_facility_id` varchar(255) NOT NULL,
  `temperature` decimal(5,2) NOT NULL,
  `humidity` decimal(5,2) NOT NULL,
  `ammonia_odor` enum('yes','no') NOT NULL,
  `notes` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`monitoring_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_environmental_monitoring`
--

LOCK TABLES `feeding_environmental_monitoring` WRITE;
/*!40000 ALTER TABLE `feeding_environmental_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_environmental_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_harvest_yield`
--

DROP TABLE IF EXISTS `feeding_harvest_yield`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_harvest_yield` (
  `harvest_id` int NOT NULL AUTO_INCREMENT,
  `harvest_date` date NOT NULL,
  `tray_batch_id` varchar(255) NOT NULL,
  `instar_stage` int NOT NULL,
  `larvae_collected_kg` decimal(10,2) NOT NULL,
  `processing_method` enum('sieving','self_harvesting','manual','other') NOT NULL,
  `storage_temperature_celsius` decimal(5,2) DEFAULT NULL,
  `notes` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`harvest_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_harvest_yield`
--

LOCK TABLES `feeding_harvest_yield` WRITE;
/*!40000 ALTER TABLE `feeding_harvest_yield` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_harvest_yield` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_health_intervention`
--

DROP TABLE IF EXISTS `feeding_health_intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_health_intervention` (
  `intervention_id` int NOT NULL AUTO_INCREMENT,
  `health_check_date` date NOT NULL,
  `tray_batch_id` varchar(255) NOT NULL,
  `observed_issue` varchar(255) NOT NULL,
  `severity` enum('low','medium','high') NOT NULL,
  `action_taken` text NOT NULL,
  `follow_up_date` date DEFAULT NULL,
  `resolved` enum('yes','no') DEFAULT NULL,
  `comments` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`intervention_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_health_intervention`
--

LOCK TABLES `feeding_health_intervention` WRITE;
/*!40000 ALTER TABLE `feeding_health_intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_health_intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feeding_schedule`
--

DROP TABLE IF EXISTS `feeding_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feeding_schedule` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `feeding_date` date NOT NULL,
  `tray_batch_id` varchar(255) NOT NULL,
  `larvae_age_days` int NOT NULL,
  `larvae_weight_g` decimal(10,2) NOT NULL,
  `feed_type` varchar(255) NOT NULL,
  `feed_quantity_kg` decimal(10,2) NOT NULL,
  `start_weight_g` decimal(10,2) DEFAULT NULL,
  `end_weight_kg` decimal(10,2) DEFAULT NULL,
  `consumption_g` decimal(10,2) DEFAULT NULL,
  `operator` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `recorded_by` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`schedule_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feeding_schedule`
--

LOCK TABLES `feeding_schedule` WRITE;
/*!40000 ALTER TABLE `feeding_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeding_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fly_facility_bait_preparation`
--

DROP TABLE IF EXISTS `fly_facility_bait_preparation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fly_facility_bait_preparation` (
  `bait_id` int NOT NULL AUTO_INCREMENT,
  `barrel_id` varchar(255) NOT NULL,
  `bait_type` enum('frass_mix','blood','combined') NOT NULL,
  `ingredients_added` text NOT NULL,
  `start_date` date NOT NULL,
  `ready_date` date NOT NULL,
  `used_in_cage_ids` varchar(255) DEFAULT NULL,
  `notes` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`bait_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fly_facility_bait_preparation`
--

LOCK TABLES `fly_facility_bait_preparation` WRITE;
/*!40000 ALTER TABLE `fly_facility_bait_preparation` DISABLE KEYS */;
/*!40000 ALTER TABLE `fly_facility_bait_preparation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fly_facility_cage_monitoring`
--

DROP TABLE IF EXISTS `fly_facility_cage_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fly_facility_cage_monitoring` (
  `monitoring_id` int NOT NULL AUTO_INCREMENT,
  `monitoring_date` date NOT NULL,
  `cage_id` varchar(255) NOT NULL,
  `temperature` decimal(4,1) NOT NULL,
  `humidity` decimal(4,1) NOT NULL,
  `lighting_hours` decimal(4,1) NOT NULL,
  `ventilation_ok` enum('yes','no') NOT NULL,
  `cage_cleaned` enum('yes','no') NOT NULL,
  `dead_flies_removed` enum('yes','no') NOT NULL,
  `cage_damage` enum('no','minor','major') NOT NULL,
  `damage_notes` text,
  `additional_notes` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`monitoring_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fly_facility_cage_monitoring`
--

LOCK TABLES `fly_facility_cage_monitoring` WRITE;
/*!40000 ALTER TABLE `fly_facility_cage_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `fly_facility_cage_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fly_facility_egg_collection`
--

DROP TABLE IF EXISTS `fly_facility_egg_collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fly_facility_egg_collection` (
  `collection_id` int NOT NULL AUTO_INCREMENT,
  `collection_date` date NOT NULL,
  `collection_time` enum('early_morning','late_evening','other') NOT NULL,
  `cage_id` varchar(255) NOT NULL,
  `eggs_collected_g` decimal(10,2) NOT NULL,
  `bait_replaced` enum('yes','no') NOT NULL,
  `eggs_intact` enum('yes','some','many') NOT NULL,
  `collector_name` varchar(255) NOT NULL,
  `collection_method` enum('razor','specialized','manual') NOT NULL,
  `notes` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`collection_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fly_facility_egg_collection`
--

LOCK TABLES `fly_facility_egg_collection` WRITE;
/*!40000 ALTER TABLE `fly_facility_egg_collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `fly_facility_egg_collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fly_facility_maintenance`
--

DROP TABLE IF EXISTS `fly_facility_maintenance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fly_facility_maintenance` (
  `maintenance_id` int NOT NULL AUTO_INCREMENT,
  `maintenance_date` date NOT NULL,
  `moat_check` enum('full','low','empty') NOT NULL,
  `ants_present` enum('no','few','many') NOT NULL,
  `rodents_present` enum('no','yes') NOT NULL,
  `bird_net_ok` enum('yes','damaged') NOT NULL,
  `trench_refilled` enum('yes','no') NOT NULL,
  `maintenance_notes` text NOT NULL,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`maintenance_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fly_facility_maintenance`
--

LOCK TABLES `fly_facility_maintenance` WRITE;
/*!40000 ALTER TABLE `fly_facility_maintenance` DISABLE KEYS */;
/*!40000 ALTER TABLE `fly_facility_maintenance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fly_facility_pupae_transition`
--

DROP TABLE IF EXISTS `fly_facility_pupae_transition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fly_facility_pupae_transition` (
  `transition_id` int NOT NULL AUTO_INCREMENT,
  `transition_date` date NOT NULL,
  `love_cage_id` varchar(255) NOT NULL,
  `pupae_weight_added_kg` decimal(10,2) NOT NULL,
  `old_pupae_removed_kg` decimal(10,2) NOT NULL,
  `dead_flies_removed` enum('none','few','many') NOT NULL,
  `water_points_checked` enum('yes','some','no') NOT NULL,
  `new_egg_crates_installed` enum('yes','no') NOT NULL,
  `number_of_crates` int DEFAULT NULL,
  `notes` text,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`transition_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fly_facility_pupae_transition`
--

LOCK TABLES `fly_facility_pupae_transition` WRITE;
/*!40000 ALTER TABLE `fly_facility_pupae_transition` DISABLE KEYS */;
/*!40000 ALTER TABLE `fly_facility_pupae_transition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `growth_monitoring`
--

DROP TABLE IF EXISTS `growth_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `growth_monitoring` (
  `monitoring_id` int NOT NULL AUTO_INCREMENT,
  `substrate_batch_id` int NOT NULL,
  `monitoring_date` date NOT NULL,
  `larvae_count` int DEFAULT NULL,
  `average_weight_g` decimal(10,2) DEFAULT NULL,
  `development_stage` enum('egg','instar1','instar2','instar3','instar4','instar5','prepupa','pupa','adult') NOT NULL,
  `mortality_rate_percent` decimal(5,2) DEFAULT NULL,
  `observations` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`monitoring_id`),
  KEY `substrate_batch_id` (`substrate_batch_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `growth_monitoring_ibfk_1` FOREIGN KEY (`substrate_batch_id`) REFERENCES `substrate_batches` (`batch_id`),
  CONSTRAINT `growth_monitoring_ibfk_2` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `growth_monitoring`
--

LOCK TABLES `growth_monitoring` WRITE;
/*!40000 ALTER TABLE `growth_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `growth_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hatchery_batches`
--

DROP TABLE IF EXISTS `hatchery_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hatchery_batches` (
  `batch_id` int NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(50) NOT NULL,
  `batch_date` date NOT NULL,
  `egg_incubation_date` date NOT NULL,
  `total_eggs_grams` decimal(10,2) NOT NULL,
  `expected_hatch_date` date NOT NULL,
  `actual_hatch_date` date DEFAULT NULL,
  `hatch_days` int DEFAULT NULL,
  `supervisor_name` varchar(100) NOT NULL,
  `notes` text,
  PRIMARY KEY (`batch_id`),
  UNIQUE KEY `batch_number` (`batch_number`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hatchery_batches`
--

LOCK TABLES `hatchery_batches` WRITE;
/*!40000 ALTER TABLE `hatchery_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `hatchery_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hatchery_cleaning`
--

DROP TABLE IF EXISTS `hatchery_cleaning`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hatchery_cleaning` (
  `cleaning_id` int NOT NULL AUTO_INCREMENT,
  `cleaning_date` date NOT NULL,
  `areas_cleaned` varchar(255) NOT NULL,
  `cleaning_materials` varchar(255) NOT NULL,
  `cleaning_personnel` varchar(100) NOT NULL,
  `remarks` text,
  PRIMARY KEY (`cleaning_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hatchery_cleaning`
--

LOCK TABLES `hatchery_cleaning` WRITE;
/*!40000 ALTER TABLE `hatchery_cleaning` DISABLE KEYS */;
/*!40000 ALTER TABLE `hatchery_cleaning` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hatchery_feeding`
--

DROP TABLE IF EXISTS `hatchery_feeding`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hatchery_feeding` (
  `id` int NOT NULL AUTO_INCREMENT,
  `batch_id` varchar(255) NOT NULL,
  `feeding_date` date NOT NULL,
  `feed_per_5g_eggs_grams` decimal(10,2) DEFAULT NULL,
  `total_feed_used_grams` decimal(10,2) DEFAULT NULL,
  `days_to_utilize` int DEFAULT NULL,
  `feed_type` varchar(255) DEFAULT NULL,
  `feed_source` varchar(255) DEFAULT NULL,
  `distribution_method` varchar(255) DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hatchery_feeding`
--

LOCK TABLES `hatchery_feeding` WRITE;
/*!40000 ALTER TABLE `hatchery_feeding` DISABLE KEYS */;
/*!40000 ALTER TABLE `hatchery_feeding` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hatchery_monitoring`
--

DROP TABLE IF EXISTS `hatchery_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hatchery_monitoring` (
  `monitoring_id` int NOT NULL AUTO_INCREMENT,
  `monitoring_date` date NOT NULL,
  `temperature_c` decimal(5,2) NOT NULL,
  `humidity_percent` decimal(5,2) NOT NULL,
  `adjustments_made` text,
  PRIMARY KEY (`monitoring_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hatchery_monitoring`
--

LOCK TABLES `hatchery_monitoring` WRITE;
/*!40000 ALTER TABLE `hatchery_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `hatchery_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hatchery_problems`
--

DROP TABLE IF EXISTS `hatchery_problems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hatchery_problems` (
  `problem_id` int NOT NULL AUTO_INCREMENT,
  `problem_date` date NOT NULL,
  `problem_identified` enum('larvae_escaping','high_temperature','dry_feed','feed_not_utilized','mites','ants','rodents','other') NOT NULL,
  `proposed_solution` text NOT NULL,
  `responsible_person` varchar(100) NOT NULL,
  `days_to_implement` int DEFAULT NULL,
  `resolution_status` enum('pending','in_progress','resolved','failed') DEFAULT NULL,
  `additional_comments` text,
  PRIMARY KEY (`problem_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hatchery_problems`
--

LOCK TABLES `hatchery_problems` WRITE;
/*!40000 ALTER TABLE `hatchery_problems` DISABLE KEYS */;
/*!40000 ALTER TABLE `hatchery_problems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `health_intervention`
--

DROP TABLE IF EXISTS `health_intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `health_intervention` (
  `intervention_id` int NOT NULL AUTO_INCREMENT,
  `substrate_batch_id` int NOT NULL,
  `health_date` date NOT NULL,
  `tray_batch_id` varchar(50) NOT NULL,
  `observed_issue` varchar(255) NOT NULL,
  `severity` enum('low','medium','high') NOT NULL,
  `follow_up_date` date DEFAULT NULL,
  `resolved` enum('yes','no') DEFAULT NULL,
  `action_taken` text NOT NULL,
  `comments` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`intervention_id`),
  KEY `substrate_batch_id` (`substrate_batch_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `health_intervention_ibfk_1` FOREIGN KEY (`substrate_batch_id`) REFERENCES `substrate_batches` (`batch_id`),
  CONSTRAINT `health_intervention_ibfk_2` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `health_intervention`
--

LOCK TABLES `health_intervention` WRITE;
/*!40000 ALTER TABLE `health_intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `health_intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `processing_records`
--

DROP TABLE IF EXISTS `processing_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `processing_records` (
  `processing_id` int NOT NULL AUTO_INCREMENT,
  `processing_date` date NOT NULL,
  `processing_type` enum('composting','drying','fermentation','grinding','mixing','other') NOT NULL,
  `processing_method` varchar(100) NOT NULL,
  `waste_processed` decimal(10,2) NOT NULL,
  `waste_reduction` decimal(5,2) NOT NULL,
  `by_products` varchar(255) DEFAULT NULL,
  `processing_remarks` text,
  PRIMARY KEY (`processing_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `processing_records`
--

LOCK TABLES `processing_records` WRITE;
/*!40000 ALTER TABLE `processing_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `processing_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pupae_transition`
--

DROP TABLE IF EXISTS `pupae_transition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pupae_transition` (
  `transition_id` int NOT NULL AUTO_INCREMENT,
  `transition_date` date NOT NULL,
  `love_cage_id` varchar(50) NOT NULL,
  `pupae_weight_added_kg` decimal(10,2) NOT NULL,
  `old_pupae_removed_kg` decimal(10,2) NOT NULL,
  `dead_flies_removed` enum('none','few','many') NOT NULL,
  `water_points_checked` enum('yes','some','no') NOT NULL,
  `new_egg_crates_installed` enum('yes','no') NOT NULL,
  `number_of_crates` int DEFAULT NULL,
  `transition_notes` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`transition_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `pupae_transition_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pupae_transition`
--

LOCK TABLES `pupae_transition` WRITE;
/*!40000 ALTER TABLE `pupae_transition` DISABLE KEYS */;
/*!40000 ALTER TABLE `pupae_transition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `customer_id` int NOT NULL,
  `product` varchar(100) DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `sales_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales`
--

LOCK TABLES `sales` WRITE;
/*!40000 ALTER TABLE `sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saved_reports`
--

DROP TABLE IF EXISTS `saved_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saved_reports` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `report_name` varchar(100) NOT NULL,
  `report_type` enum('waste','hatchery','feeding','growth','breeding','facility','custom') NOT NULL,
  `date_range_start` date DEFAULT NULL,
  `date_range_end` date DEFAULT NULL,
  `filters` json DEFAULT NULL,
  `created_by` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_accessed` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `saved_reports_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saved_reports`
--

LOCK TABLES `saved_reports` WRITE;
/*!40000 ALTER TABLE `saved_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `saved_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storage_records`
--

DROP TABLE IF EXISTS `storage_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `storage_records` (
  `record_id` int NOT NULL AUTO_INCREMENT,
  `storage_date` date NOT NULL,
  `storage_method` enum('plastic_bin','metal_bin','compost_pit','tank','other') NOT NULL,
  `storage_conditions` enum('good','fair','poor','contaminated') NOT NULL,
  `storage_duration` int NOT NULL,
  `planned_utilization` enum('feed','fertilizer','energy','other') NOT NULL,
  `storage_observations` text,
  PRIMARY KEY (`record_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storage_records`
--

LOCK TABLES `storage_records` WRITE;
/*!40000 ALTER TABLE `storage_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `storage_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `substrate_batches`
--

DROP TABLE IF EXISTS `substrate_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `substrate_batches` (
  `batch_id` int NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(50) NOT NULL,
  `preparation_date` date NOT NULL,
  `organic_waste_source` varchar(100) NOT NULL,
  `moisture_percent` decimal(5,2) NOT NULL,
  `waste_particle_size` enum('fine','medium','coarse') NOT NULL,
  `foreign_matter` enum('none','low','medium','high') NOT NULL,
  `handler_operator` varchar(100) NOT NULL,
  `notes` text,
  `recorded_by` int NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`batch_id`),
  UNIQUE KEY `batch_number` (`batch_number`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `substrate_batches_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `substrate_batches`
--

LOCK TABLES `substrate_batches` WRITE;
/*!40000 ALTER TABLE `substrate_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `substrate_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `substrate_preparation`
--

DROP TABLE IF EXISTS `substrate_preparation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `substrate_preparation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `batch_no` varchar(50) NOT NULL,
  `prep_date` date NOT NULL,
  `organic_waste_source` varchar(100) NOT NULL,
  `moisture_percentage` decimal(5,2) NOT NULL,
  `waste_particle_size` enum('fine','medium','coarse') NOT NULL,
  `foreign_matter` enum('yes','no') NOT NULL,
  `handler_operator` varchar(100) NOT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_prep_date` (`prep_date`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `substrate_preparation`
--

LOCK TABLES `substrate_preparation` WRITE;
/*!40000 ALTER TABLE `substrate_preparation` DISABLE KEYS */;
/*!40000 ALTER TABLE `substrate_preparation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('admin','manager','technician','viewer') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_login` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waste_processing`
--

DROP TABLE IF EXISTS `waste_processing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_processing` (
  `id` int NOT NULL AUTO_INCREMENT,
  `processing_date` date NOT NULL,
  `processing_type` varchar(50) NOT NULL,
  `processing_method` varchar(50) NOT NULL,
  `waste_processed` decimal(10,2) NOT NULL,
  `by_products` text,
  `waste_reduction` decimal(5,2) DEFAULT NULL,
  `remarks` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_processing`
--

LOCK TABLES `waste_processing` WRITE;
/*!40000 ALTER TABLE `waste_processing` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_processing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waste_sourcing`
--

DROP TABLE IF EXISTS `waste_sourcing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_sourcing` (
  `sourcing_id` int NOT NULL AUTO_INCREMENT,
  `collection_date` date NOT NULL,
  `collection_time` time NOT NULL,
  `source_type` enum('restaurant','market','brewery','food_industry','household','farm','other') NOT NULL,
  `source_name` varchar(100) NOT NULL,
  `waste_type` enum('fruit','vegetable','brewers_grain','potato','food_leftovers','mixed_organic','other') NOT NULL,
  `waste_weight` decimal(10,2) NOT NULL,
  `segregation_status` enum('organic','inorganic','mixed') NOT NULL,
  `collection_personnel` varchar(100) NOT NULL,
  `contaminants` json DEFAULT NULL,
  `collection_notes` text,
  `recorded_by` varchar(100) NOT NULL,
  `recorded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`sourcing_id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_sourcing`
--

LOCK TABLES `waste_sourcing` WRITE;
/*!40000 ALTER TABLE `waste_sourcing` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_sourcing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waste_storage`
--

DROP TABLE IF EXISTS `waste_storage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_storage` (
  `id` int NOT NULL AUTO_INCREMENT,
  `storage_date` date NOT NULL,
  `storage_method` varchar(50) NOT NULL,
  `storage_conditions` varchar(100) NOT NULL,
  `storage_duration` int NOT NULL,
  `planned_utilization` varchar(100) NOT NULL,
  `person_responsible` varchar(100) NOT NULL,
  `observations` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_storage`
--

LOCK TABLES `waste_storage` WRITE;
/*!40000 ALTER TABLE `waste_storage` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_storage` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-22 18:34:54
